<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
  <ion-button shape="round" style="padding-left:25%" (click)="get()">Traer Hoteles</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>Nombre</div>
      </ion-col>
      <ion-col>
        <div>Descripcion</div>
      </ion-col>
      <ion-col>
        <div>Puntaje</div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of list">
      <ion-col>
        <div>{{item.Nombre}}</div>
      </ion-col>
      <ion-col>
        <div>{{item.Descripcion}}</div>
      </ion-col>
      <ion-col>
        <div>{{item.Puntaje}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>



